// Colour variables

$bg-pale-navy: #36384d;
$accent-dark-navy: #242742;
$accent-vermillion: #ff6155;
$accent-pink: #ff527b;

// Typography variables

$heading: 5.6rem;
$paragraph: 1.6rem;
$text-dark-navy: #242742;
